* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 18px;
}

h4 {
  font-size: 20px;
  font-weight: 400;
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  width: 960px;
  min-height: 70%;
}

main h1 {
  margin-bottom: 40px;
  text-align: center;
  font-size: 48px;
}

.full-salary {
  width: 100%;
}

.full-salary label {
  display: block;
  margin-bottom: 16px;
  font-size: 20px;
}

.full-salary input {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #333;
  font-size: 18px;
  outline: none;
}

.discount {
  margin: 40px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.discount div {
  border-bottom: 1px solid #333;
  width: 200px;
  padding: 5px 0;
}

.discount p {
  margin-top: 10px;
  font-weight: bold;
}

.discount p span {
  margin-left: 10px;
}

.discount .d-inss {
  color: #e67e22;
}

.discount .d-irpf {
  color: #c0392b;
}

.net-salary {
  margin-bottom: 40px;
  width: 200px;
  padding: 5px 0;
  border-bottom: 1px solid #333;
}

.net-salary p {
  margin-top: 10px;
  color: #16a085;
  font-weight: bold;
}

.net-salary p span {
  margin-left: 10px;
}

.progressive-bar {
  display: flex;
  width: 100%;
  height: 20px;
}

.percentual-inss {
  background: #e67e22;
}

.percentual-irpf {
  background: #c0392b;
}

.percentual-salrio-liquido {
  background: #16a085;
}
